[Unit]
Description=Enable Multitool GPIB level translators
After=systemd-modules-load.service
Before=shutdown.target reboot.target halt.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/multitool-gpib-enable enable
ExecStop=/usr/local/sbin/multitool-gpib-enable disable

[Install]
WantedBy=multi-user.target
